@keyframes rainbow-color {
  0% { color: #FF0000}
  15% { color: #FF7F00}
  30% { color: #FFFF00}
  45% { color: #00FF00}
  60% { color: #0000FF}
  75% { color: #2E2B5F}
  90% { color: #8B00FF}
  100% { color: white}
}


.Header {
  display: flex;
  flex-direction: column;

  h1 {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    margin-left: .6em;

    &:hover {
      animation: rainbow-color 5s linear infinite;
    }
  }

  h3 {
    margin-left: 2em;
    font-size: 2em;
    color: rgb(143, 141, 141);
  }
}
