@keyframes faceSpin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.spinning-head {
  height: 10em;

  .show {
    transition: .3s ease-in-out;
    position: relative;
    left: 9em;
    bottom: 3em;
    color: white;
  }

  .hide {
    transition: .3s ease-in-out;
    position: relative;
    left: 7em;
    bottom: 3em;
    opacity: 0;
  }

  img {
    width: 10em;
    height: 10em;
    position: relative;
    left: 24px;
    top: 24px;
  
    &:hover {
      animation: faceSpin 1s infinite linear;
    }
  }
}

