@keyframes faceSpin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.spinning-head {
  height: 10em;
  display: flex;

  img {
    width: 10em;
    height: 10em;
    position: relative;
    left: 24px;
    top: 24px;
  
    &:hover {
      animation: faceSpin 1s infinite linear;
    }
  }
}

.show {
  transition: .3s ease-in-out;
  position: relative;
  color: white;
  font-family: 'Calistoga', cursive;
}

.hide {
  transition: .3s ease-in-out;
  position: relative;
  opacity: 0;
}
