.About-Site {
  display: grid;
  grid-auto-columns: 10% 1fr;
  height: 100%;
  width: 100%;
}

.Icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 5em;
    margin: 1em;
  }
}

.Details {
  grid-column-start: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;

  section {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div {
      width: 80%;
      background: rgba(21, 24, 21, 0.829);
      border-radius: .5em;
      box-shadow: 2px 4px rgb(19, 22, 19);
      margin: 1em;
      padding: 1.5em;
      
      p {
        width: 100%;
        color: rgb(166, 255, 218);
        font-size: 2.2em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .About-Site {
    display: grid;
    grid-auto-columns: 18% 1fr;
  }

  .Icons {

    img {
      height: 3em;
      margin: 1em;
    }
  }

  .Details {
    section {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      div {
        width: 70%;
        background: rgba(21, 24, 21, 0.829);
        border-radius: .5em;
        box-shadow: 2px 4px rgb(19, 22, 19);
        margin: 1em;
        padding: 1.5em;
        
        p {
          font-size: 1.2em;
        }
      }
    }
  }
}
