@import '../vars.css';

.About-Me {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  margin-top: 1em;

  section {
    position: relative;
    color: white;
    font-size: 2.7em;
    text-shadow: 2px 2px #000000;

    img {
      height: 70vh;
    }

    h3 {
      font-family: var(--title-font);
      position: relative;
      bottom: 55%;
      left: 35%;
    }
    
    p {
      font-family: var(--paragraph-font);
      font-size: .7em;
      position: relative;
      bottom: 55%;
      left: 35%;
    }
  }
}

@media screen and (max-width: 600px) {
  .About-Me {
    section {
      font-size: 1.5em;

      img {
        height: 30vh;
      }

      h3 {
        left: 30%;
      }
      p {
        left: 30%;
      }
    }

  }
}
