@import '../vars.css';

.About-Site {
  display: grid;
  grid-auto-columns: 10% 1fr;
  height: 100%;
  width: 100%;
}

.Icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 4em;
    margin: 1em;
  }
}

.Details {
  grid-column-start: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  section {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div {
      width: 80%;
      background: var(--dark-green-background);
      border-radius: var(--border-radius);
      margin: 1em;
      padding: var(--paragraph-padding);
      
      p {
        width: 100%;
        color: var(--light-green-text);
        font-family: var(--paragraph-font);
        font-size: var(--paragraph-font-size);
      }
    }
  }
}

.Burger {
  display: none;
}

.SideBar {
  display: inline;
}

@media screen and (max-width: 600px) {
  .About-Site {
    display: grid;
    grid-auto-columns: 18% 1fr;
  }

  .Icons {
    img {
      height: 3em;
      margin: 1em;
    }
  }

  .Details {
    section {
      height: 70%;
      
      div {
        width: 70%;
        
        p {
          font-size: var(--paragraph-font-size-mobile);
        }
      }
    }
  }

  .Burger {
    display: inline;
  }

  .SideBar {
    display: none;
  }
}
