.About-Me {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  section {
    height: 90vh;
    width: 120vh;
    margin: 1em;
    

    div {
      position: relative;
      top: 2em;
      left: 2em;
      color: white;
      font-size: 2.5em;
    }
  }

}
