.Contact {
  display: grid;
  grid-auto-columns: 10% 1fr;
  height: 100%;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      height: 6em;
      margin: 1em;
      margin-left: 3em;
      text-decoration: none;
      color: black;
  
      &:hover {
        transform: scaleY(1.1);
      }
    }
  
    img {
      height: 5em;
    }
  }

  div{
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      font-size: 2em;
      padding: 2em;
    }
  }
}
