.Contact {
  display: grid;
  grid-auto-columns: 10% 1fr;
  height: 100%;
  width: 100%;
}



.Icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    height: 6em;
    margin: 1em;
    margin-left: 3em;
    color: black;

    &:hover {
      transform: scaleY(1.1);
    }
  }

  img {
    height: 5em;
  }
}


.Details{
  grid-column-start: 2;
  width: 100%;
  height: 100%;
  color: rgb(166, 255, 218);
  text-shadow: 1px 1px rgb(42, 65, 55);
  display: flex;
  align-items: center;
  justify-content: space-around;

  div {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 2em;
    padding: 1em;
    background: rgba(21, 24, 21, 0.829);
    border-radius: 1em;
    margin: 1em;
  }
}


@media screen and (max-width: 600px) {
  .Contact {
    display: grid;
    grid-auto-columns: 18% 1fr;
    height: 100%;
    width: 100%;
  }

  .Icons {

    a {
      margin: 0;
    }

    img {
      height: 3em;
      margin: 1em;
    }
  }

  .Details{
    div {
      height: 40%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    p {
      font-size: 1.3em;
      padding: 1em;
      background: rgba(21, 24, 21, 0.829);
      border-radius: 1em;
      margin: 1em;
    }
  }
}
