@keyframes changeColor {
  0% { color: #BEBEBE; }
  15% { color: #FF0000; }
  30% { color: #FF7F00; }
  45% { color: #FFFF00; }
  60% { color: #00FF00; }
  75% { color: #0000FF; }
  90% { color: #2E2B5F; }
  100% { color: #BEBEBE; }
}

.MainDisplay {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 20%;

  span {
    color: purple;
    font-size: 4em;
    display: flex;
    align-items: center;
    margin-left: .3em;
  }

  header {
    display: flex;
    align-items: center;

    h1 {
      color: rgb(190, 190, 190);
      font-family: 'Open Sans', sans-serif;
      font-size: 4em;
      margin-left: .6em;
  
      &:hover {
        animation: changeColor 3s linear infinite;
      }
    }
  }

  footer {
    display: flex;
    align-items: flex-end;

    span {
      margin-bottom: .2em;
    }
  }
}

.display {
  width: 80%;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  margin-left: 3em;

  p {
    color: rgb(206, 206, 206);
    font-size: 2.5em;
  }
}
