.Projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
  margin-top: 3em;

  li {
    list-style: none;
    height: 30vh;
    margin: 2em;
    display: flex;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18em;
    }

    section {
      margin-left: 8em;
      display: grid;
      grid-template-rows: 30% 1fr;
    }
  }

  img {
    height: 18em;
  }

  a {
    text-decoration: none;
    color: rgb(236, 16, 189);
  }

  h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;

    &:hover {
      transform: scaleY(1.1);
    }
  }

  p {
    width: 80%;
    font-size: 1.5em;
    margin-top: 1em;
    color: white;
  }

}
