@import '../vars.css';

.Projects {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  overflow: scroll;
  
  li {
    width: var(--detail-width);
    list-style: none;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    background: var(--dark-green-background);
    border-radius: var(--border-radius);
  }
}

.Image-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18em;

  img {
    height: 12em;
    margin: .4em;
  }
}

.Details-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
      text-decoration: none;
      color: var(--light-green-text);
      
      h2 {
        font-size: 2em;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: var(--title-font);
    
        &:hover {
          transform: scaleY(1.1);
        }
      }
    }

  p {
    width: 90%;
    color: var(--light-green-text);
    display: flex;
    align-items: center;
    padding: 1em;
    font-family: var(--paragraph-font);
  }
}


@media screen and (max-width: 600px) {
  .Projects {
    li {
      display: grid;
      grid-template-rows: 6em;
      grid-template-columns: 1fr;
      flex-grow: 1;
      margin-top: 1em;
      margin-bottom: 1em;
      width: 70vw;
    }
  }
  .Image-Container {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  
    img {
      height: 5em;
    }
  }
  .Details-Container {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    height: auto;

    a {
      h2 {
        font-size: 2em;
        margin: .1em;
      }
    }
    p {
      font-size: .2em;
      padding: .5em;
      font-size: var(--paragraph-font-size-mobile);
    }
  }
}
