@import '../vars.css';

@keyframes rainbow-color {
  0% { color: #FF0000}
  15% { color: #FF7F00}
  30% { color: #FFFF00}
  45% { color: #00FF00}
  60% { color: #0000FF}
  75% { color: #2E2B5F}
  90% { color: #8B00FF}
  100% { color: #FF0000}
}

.Header-Container {
  display: flex;
  justify-content: space-between;

  header {
    display: flex;
    flex-direction: column;
    width: fit-content;

    a {
      text-decoration: none;
    }

    h1 {
      color: rgb(255, 255, 255);
      font-family: var(--jared-font);
      font-size: 2.5em;
      margin-left: .6em;

      &:hover {
        animation: rainbow-color 5s linear infinite;
      }
    }

    h3 {
      margin-left: 2em;
      font-size: 1.5em;
      color: var(--light-green-text);
      font-family: var(--title-font);
    }
  }
}



@media screen and (max-width: 600px) {
  .Header-Container {
    header {
      font-size: .8em;
      h3 {
        font-size: 1.2em;
      }
    }
  }
}
