* {
  margin: 0;
}

body {
  background-color: black;
}

@keyframes faceSpin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.left {
  background-image: url('../../assets//birds.jpg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;

  img {
    width: 8%;
    transform: scaleX(-1);
    position: relative;
    left: 24px;
    top: 24px;

    &:hover {
      animation: faceSpin 2s infinite linear;
    }
  }
}

.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 95% 1fr;
  overflow: hidden;
}

.info {
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    max-height: 60vh;
    width: 70%;
    overflow: scroll;
    background: rgb(116, 105, 105, .9);
    border-radius: 1em;

    h2, p {
      margin: 1em;
    }
  }
}

#sidebar {
  grid-column-start: 2;
}


