* {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 95% 1fr;
  background: url('https://i.imgur.com/cWpw58I.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Sidebar {
  grid-column-start: 2;
}

.Left {
  height: 100vh;
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 13% 1fr;
  overflow: scroll;
}

.Header {
  grid-row-start: 1;
}

.Main {
  grid-row-start: 2;
  width: 100%;
}

.Footer {
  grid-row-start: 3;
}

@media screen and (max-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
    background-image: url('https://i.imgur.com/cWpw58I.jpg');
    background-position-x: 40%;
  }
  .Left {
    display: grid;
    grid-template-rows: 12% 1fr;
  }
}


