:root {
  --pink: rgb(255, 0, 179);
  --yellow: rgb(233, 255, 34);
  --selected-blue: blue;
  --light-green-text: rgb(166, 255, 218);

  --dark-green-background: rgb(21, 24, 21);
  --border-radius: .2em;

  --icon-size: 4em;

  --jared-font: 'Slabo';
  --title-font: 'Lobster';
  --paragraph-font: 'Oswald';
  --paragraph-font-size: 1.8em;
}
