:root {
  --header-height: 15%;
  --main-height: 85%;


  --pink: rgb(199, 26, 127);
  --yellow: #FDDD0E;
  --light-green: #89C6A7;
  --dark-green: #89C6A7;
  --raisin-black: #252323;

  --dark-green-background: rgba(21, 24, 21, 1);
  --border-radius: .2em;

  --icon-size: 4em;
  --icon-left: 1em;
  --icon-top: 1em;
  --icon-margin: 1em;
  --icon-transform: scaleY(1.1);

  --detail-width: 55vw;
  --detail-margin: 1em;
  --detail-margin-mobile: .5em;

  --title-font: 'Oswald';
  --paragraph-font: 'Quattrocento';
  --paragraph-font-size: 1.2em;
  --paragraph-font-size-mobile: 1.1em;
  
  --paragraph-padding: 1em;
}
